<!DOCTYPE html>
<html data-bs-theme="dark">
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <form action="./"><button class="navbar-brand btn btn-link">SettleMate</button></form>
        </div>
        
        <ul class="navbar-nav">
            <li class="nav-item">
                <% if(isuser) { %>
                <form action="./logout" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="btn btn-link text-white" type="submit">Log Out</button>
                </form>
                <% } %>
            </li>
        </ul>
    </nav>

    <div class="container text-center mt-5 profile-container justify-content-center align-items-center">
        <div class="d-flex justify-content-start mb-3">
            <h4 class="text-primary me-3">Name:</h4>
            <h4 class="text-white"><%= name %></h4>
        </div>
        <div class="d-flex justify-content-start mb-3">
            <h4 class="text-primary me-3">Email:</h4>
            <h4 class="text-white"><%= email %></h4>
        </div>
        <div class="d-flex justify-content-start">
            <h4 class="text-primary me-3">UPI id:</h4>
            <h4 class="text-white"><%= upiid %></h4>
        </div>

        <div class="mt-4 d-flex justify-content-center">
            <div>
                <form action="./home"><button class="btn btn-primary me-2 text-white">Home</button></form>
            </div>
            <% if(isuser) { %>
            <div>
                <form action="./editprofile"><button class="btn btn-secondary text-white">Edit Profile</button></form>
            </div>
            <% } %>
        </div>
    </div>
    <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <h4><div id="errorMessage"></div></h4>
                </div>
            </div>
        </div>
        </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const errorMessage = "<%= errorMessage %>";
            if (errorMessage && errorMessage.length > 0) {
                const modal = new bootstrap.Modal(document.getElementById("errorModal"));
                document.getElementById("errorMessage").textContent = errorMessage;
                modal.show();

                setTimeout(function () {
                    modal.hide();
                }, 2500);
            }
        });
    </script>
</body>
</html>
